body {
    background-color: rgb(230, 194, 38);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Papyrus;
    font-size: 50px;
  }
  
  p {
    color: rgb(44, 44, 44);
    font-family: CourierNew;
    font-size: 25px;
  }